<robot name = "robot">
    <link name="Box0">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.8475703232099143 1.606591718990829 1.186639222512461" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.8475703232099143 1.606591718990829 1.186639222512461" />
            </geometry>
        </collision>
    </link>
    <joint name="Box0_Box1" type="revolute">
       <parent link="Box0"/>
       <child  link="Box1"/>
       <origin rpy="0 0 0" xyz="0 1.0626183383782974 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box1">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.3574067035108348 0.5186449577657657 0.6584517721746496" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.3574067035108348 0.5186449577657657 0.6584517721746496" />
            </geometry>
        </collision>
    </link>
    <joint name="Box1_Box2" type="revolute">
       <parent link="Box1"/>
       <child  link="Box2"/>
       <origin rpy="0 0 0" xyz="0 0.9985991387674478 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box2">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.2618171902763493 1.4785533197691298 0.9383836594187313" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.2618171902763493 1.4785533197691298 0.9383836594187313" />
            </geometry>
        </collision>
    </link>
    <joint name="Box2_Box3" type="revolute">
       <parent link="Box2"/>
       <child  link="Box3"/>
       <origin rpy="0 0 0" xyz="0 1.165176785929797 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box3">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.8293820924922675 0.8518002520904642 1.898981107801844" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.8293820924922675 0.8518002520904642 1.898981107801844" />
            </geometry>
        </collision>
    </link>
    <joint name="Box3_Box4" type="revolute">
       <parent link="Box3"/>
       <child  link="Box4"/>
       <origin rpy="0 0 0" xyz="0 1.2702385617036938 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box4">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.7415287670511739 1.6886768713169231 1.678519159012944" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.7415287670511739 1.6886768713169231 1.678519159012944" />
            </geometry>
        </collision>
    </link>
    <joint name="Box4_Box5" type="revolute">
       <parent link="Box4"/>
       <child  link="Box5"/>
       <origin rpy="0 0 0" xyz="0 1.6493679756617912 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box5">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6965758853843123 1.6100590800066592 1.5916212092334312" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6965758853843123 1.6100590800066592 1.5916212092334312" />
            </geometry>
        </collision>
    </link>
    <joint name="Box5_Box6" type="revolute">
       <parent link="Box5"/>
       <child  link="Box6"/>
       <origin rpy="0 0 0" xyz="0 1.2532248142207696 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box6">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.7828935595869244 0.89639054843488 1.1627842947326785" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.7828935595869244 0.89639054843488 1.1627842947326785" />
            </geometry>
        </collision>
    </link>
    <joint name="Box6_Box7" type="revolute">
       <parent link="Box6"/>
       <child  link="Box7"/>
       <origin rpy="0 0 0" xyz="0 0.7765930282733662 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box7">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.945260471319533 0.6567955081118523 1.3514238276357855" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.945260471319533 0.6567955081118523 1.3514238276357855" />
            </geometry>
        </collision>
    </link>
</robot>