<robot name = "robot">
    <link name="Box0">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6354863568074597 0.6840307799240775 0.6717876190180878" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6354863568074597 0.6840307799240775 0.6717876190180878" />
            </geometry>
        </collision>
    </link>
    <joint name="Box0_Box1" type="revolute">
       <parent link="Box0"/>
       <child  link="Box1"/>
       <origin rpy="0 0 0" xyz="-0.43948702992953864 0 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box1">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.2434877030516176 0.37577488031071593 0.2087572219137685" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.2434877030516176 0.37577488031071593 0.2087572219137685" />
            </geometry>
        </collision>
    </link>
    <joint name="Box1_Box2" type="revolute">
       <parent link="Box1"/>
       <child  link="Box2"/>
       <origin rpy="0 0 0" xyz="0 -0.5084851542365753 0.36685674531684664" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box2">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.21308516287086693 0.6411954281624346 0.5249562687199247" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.21308516287086693 0.6411954281624346 0.5249562687199247" />
            </geometry>
        </collision>
    </link>
    <joint name="Box2_Box3" type="revolute">
       <parent link="Box2"/>
       <child  link="Box3"/>
       <origin rpy="0 0 0" xyz="0 -0.6435715179551242 0.39728825519434496" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box3">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.4470501061721919 0.6459476077478138 0.26962024166876514" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.4470501061721919 0.6459476077478138 0.26962024166876514" />
            </geometry>
        </collision>
    </link>
    <joint name="Box3_Box4" type="revolute">
       <parent link="Box3"/>
       <child  link="Box4"/>
       <origin rpy="0 0 0" xyz="0.4884696915714092 0 0.4123297502859178" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box4">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5298892769706265 0.6548749411656816 0.5550392589030705" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5298892769706265 0.6548749411656816 0.5550392589030705" />
            </geometry>
        </collision>
    </link>
    <joint name="Box4_Box5" type="revolute">
       <parent link="Box4"/>
       <child  link="Box5"/>
       <origin rpy="0 0 0" xyz="0 -0.5400627362820185 -0.5258547204726237" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box5">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.35420941406139117 0.42525053139835534 0.496670182042177" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.35420941406139117 0.42525053139835534 0.496670182042177" />
            </geometry>
        </collision>
    </link>
    <joint name="Box5_Box6" type="revolute">
       <parent link="Box5"/>
       <child  link="Box6"/>
       <origin rpy="0 0 0" xyz="0 -0.4833366392147242 -0.48030903121654556" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box6">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.22802499349416983 0.541422747031093 0.4639478803909141" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.22802499349416983 0.541422747031093 0.4639478803909141" />
            </geometry>
        </collision>
    </link>
    <joint name="Box6_Box7" type="revolute">
       <parent link="Box6"/>
       <child  link="Box7"/>
       <origin rpy="0 0 0" xyz="-0.44054115971391333 0 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box7">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6530573259336568 0.2800500612537303 0.315912105882729" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6530573259336568 0.2800500612537303 0.315912105882729" />
            </geometry>
        </collision>
    </link>
    <joint name="Box7_Box8" type="revolute">
       <parent link="Box7"/>
       <child  link="Box8"/>
       <origin rpy="0 0 0" xyz="-0.6479750065891572 0 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box8">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6428926872446574 0.23056809393037175 0.43129134780935574" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6428926872446574 0.23056809393037175 0.43129134780935574" />
            </geometry>
        </collision>
    </link>
    <joint name="Box8_Box9" type="revolute">
       <parent link="Box8"/>
       <child  link="Box9"/>
       <origin rpy="0 0 0" xyz="0.6626397311885397 0 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box9">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.682386775132422 0.3605643374094475 0.21553306991530002" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.682386775132422 0.3605643374094475 0.21553306991530002" />
            </geometry>
        </collision>
    </link>
    <joint name="Box9_Box10" type="revolute">
       <parent link="Box9"/>
       <child  link="Box10"/>
       <origin rpy="0 0 0" xyz="0 -0.3426331626948409 0.34517384447846167" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box10">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6441418915446661 0.32470198798023436 0.4748146190416233" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.6441418915446661 0.32470198798023436 0.4748146190416233" />
            </geometry>
        </collision>
    </link>
    <joint name="Box10_Box11" type="revolute">
       <parent link="Box10"/>
       <child  link="Box11"/>
       <origin rpy="0 0 0" xyz="0 -0.33628836899032655 -0.4787268013775059" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Box11">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.47517303812662065 0.3478747500004188 0.4826389837133885" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.47517303812662065 0.3478747500004188 0.4826389837133885" />
            </geometry>
        </collision>
    </link>
</robot>